@import url('./fonts.css');

/**
    General
*/
*{
    box-sizing: border-box;
}

body {
    align-items: center;
    background: #091921;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}

.clock {
    align-items: center;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.3),
                inset 0 15px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    height: 300px;
    justify-content: center;
    overflow: hidden;
    width: 300px;
}

.display {
    align-items: center;
    display: flex;
    height: max-content;
    justify-content: center;
    position: relative;
    width: max-content;
}


/**
    Analog dial
*/
.dial {
    background-color: #dddddd;
    border-radius: 50%;
    height: 6px;
    position: relative;
    width: 6px;
}

.dial-item {
    display: flex;
    height: 6px;
    justify-content: space-between;
    left: -122px;
    position: absolute;
    width: 250px;
}

.dial-line::before,
.dial-line::after {
    background-color: rgba(255, 255, 255, 0.05);
    content: "";
    display: block;
    height: 6px;
    width: 20px;
}

.dial-line::before {
    left: 0;
}

.dial-line::after {
    right: 0;
}

.dial-item:nth-child(2) {
    transform: rotate(30deg);
}

.dial-item:nth-child(3) {
    transform: rotate(60deg);
}

.dial-item:nth-child(4) {
    transform: rotate(90deg);
}

.dial-item:nth-child(4)::before {
    content: "12";
    transform: rotate(-90deg) translateY(-15px);;
}
.dial-item:nth-child(4)::after {
    content: "6";
    transform: rotate(-90deg) translateY(-15px);;
}

.dial-item:nth-child(5) {
    transform: rotate(120deg);
}

.dial-item:nth-child(6) {
    transform: rotate(150deg);
}

.dial-numb::before,
.dial-numb::after {
    color: rgba(255, 255, 255, 0.5);
    display: block;
    font-size: 30px;
}

.dial-numb.numb1::before {
    content: "9";
    transform: translateY(-15px);
}
.dial-numb.numb1::after {
    content: "3";
    transform: translateY(-15px);
}

/**
    Clock hands
*/
.clock-hand {
    left: 50%;
    position: absolute;
    bottom: 50%;
    transform-origin: bottom;
    transition: transform 1s;
}

.second-hand {
    background: red;
    height: 125px;
    left: 2px;
    transition-timing-function: cubic-bezier(1,0,.43,1.52);
    width: 2px;
    z-index: 5;
}

.minute-hand {
    height: 115px;
    background: #ffffff;
    left: 1.5px;
    width: 3px;
    z-index: 4;
}

.hour-hand {
    background: #000000;
    border: 0.2px solid #dddddd;
    height: 85px;
    left: 0.5px;
    width: 5px;
    z-index: 3;
}

/**
    Digital tableau
*/
.tableau {
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    position: relative;
}

.tableau__top {
    display: flex;
    font-family: 'Digital-7 Regular', sans-serif;
    font-size: 24px;
    justify-content: space-between;
    position: absolute;
    bottom: 135%;
    width: 100%;
}

.tableau__main {
    display: flex;
    font-family: 'Radioland', sans-serif;
    font-size: 60px;
    margin-bottom: -10%;
}

.time-segment {
    display: flex;
}

.hour-segment,
.minute-segment {
    width: 80px;
    text-align: end;
}

.time-separator {

}

.second-segment {
    color: #720000;
    font-size: 35px;
    margin-top: 20px;
    text-align: end;
    width: 45px;
}